.Us{
    display: flex;
    margin-top: 10px;
    gap: 300px;
    margin-left: 50px;
}
.Us button{
    padding: 10px 20px;
    margin-top: 18px;
    margin-left: 50px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(194, 41, 41);
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
    border: 1px;
   font-weight: 700;
}
.Us button A{
  color: black;
  text-decoration: none;
}
.img img{
    margin-top: 80px;
}
.pa p{
    margin-top: 40px;
    
}
.h h2{
margin-top: 140px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.products{
    width: 100%;
    height: 60vh;
    margin-left: 10px;
    display: flex;
  
    gap: 100px;
    margin-top: 20px;
}
.products-details{
  background-color: rgb(3, 3, 3);
  color: white;
  width: 260px;
  height: 400px;
  margin-left: 20px;
  margin-top: 50px;
  border-radius: 23px;
  box-shadow: 0px 0px 10px rgba(03, 03, 0, 0.3);


}
/* .products-details img{
    width: 200px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid #b34040;
    overflow: hidden;
    margin-left: 20px;
    margin-top: 5px;
    animation: fade-in-out 2s linear infinite;
    
} */
/* @keyframes fade-in-out {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 2;
    }
    100% {
      opacity: 0;
    }
  } */
.products-details button{
  padding: 10px 20px;
  margin-top: 18px;
  margin-left: 50px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: rgb(194, 41, 41);
  font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
  border: 1px;
 font-weight: 700;
}

/* .products-details img:hover {
   animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(6px);
    }
    20% {
      transform: translateX(-10px);
    }
    75% {
      transform: translateX(6px);
    }
    10% {
      transform: translateX(0);
    }
  }
 
   */