*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.navbar{
    background-color:black ;
    width: 100%;
    height: 60px;
    justify-content: space-between;
   position: fixed;
  
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 15px;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
 
}
.navbar img{
    width: 100px;
}
.home-container{
    width: 100%;
    display: flex;
  margin-top: 30px;
    gap: 20px;
}
.container1{
    background-color: white;
    margin-left: 30px;
    height: 500px;
 
}
    .container1  h2{
margin-bottom: 20px;
    }


.container2 img{
    width: 650px;
    height: 500px;
    margin-left: 300px;
   
   
}
.button{
    margin-top: -200px;
    margin-left: 50px;
}
.button button{
  
    padding: 10px 40px;
    border-radius: 10px;
    background-color: rgb(228, 32, 32);
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
    border: 1px;
   
}
.heading h2{
    margin-top: 200px;
    margin-left: 500px;
}
.card1 img{
    width: 300px;
}
.card2 img{
    width: 300px;
    height: 220px;
}
.card3 img{
    width: 300px;
}.card4 img{
    width: 300px;
}
.card5 img{
    width: 300px;
    height: 220px;
}

.card-container{
    display: flex;
    margin-top: 100px;
    gap: 160px;
    margin-left: 30px;
}
.card2-container{
    display: flex;
    gap: 100px;
    margin-left: 30px;
    margin-top: 40px;
}
.products{
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 60vh;
    margin-left: 10px;
    display: flex;
}
.products-details{
    background-color: rgb(214, 214, 168);
    width: 300px;
    height: 350px;
    margin-left: 20px;
}
