*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
.both{
    background-image: url("/images/hero-bg.jpg");
    color: white;
    background-size: cover;
background-position: center;
    background-repeat: no-repeat;
    height: 700px;
  
}

.navbar{
    background-color:black ;
    width: 100%;
    height: 70px;
    justify-content: space-between;
   position: fixed;
  
  
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 17px;
    float: right;
    margin-right: 40px;
    margin-top: 29px;
}
.navbar ul li{
    font-weight: bold;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
 
}
.navbar img{
    width: 100px;
    margin-left: 50px;
}
.home-container{
    width: 100%;
    display: flex;
  margin-top: 0px;
    gap: 20px;
}
.container1{
   
    margin-left: 50px;
    height: 500px;
    margin-top: 260px;
    animation-name: slide-in;
    animation-duration: 1s;
    
 
}
    .container1  h2{
margin-bottom: 20px;
animation-name: slide-in;
animation-duration: 1s;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.container2 img{
    width: 650px;
    height: 500px;
    margin-left: 300px;
    margin-top: 80px;
   
}
.button{
    margin-top: -200px;
    margin-left: 50px;
}
.button button{
  
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(194, 41, 41);
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
    border: 1px;
   font-weight: 700;
   
}
.button button a{
    color: black;
    text-decoration: none;
}
span{
    color: rgb(194, 41, 41);
}
.heading h2{
    margin-top: 70px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.all ul{
    display: flex;
    list-style: none;
    margin-left: 570px;
    margin-top: 40px;
    gap: 37px;
}
.all ul li a{
    color: rgb(11, 11, 36);
    text-decoration: none;
    font-size: 20px;

}
.all ul li a:active{
  background-color: black;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
}













.card1 img{
    width: 300px;
}
.card2 img{
    width: 300px;
    height: 220px;
}
.card3 img{
    width: 300px;
}.card4 img{
    width: 300px;
}
.card5 img{
    width: 300px;
    height: 220px;
}

.card-container{
    display: flex;
    margin-top: 100px;
    gap: 160px;
    margin-left: 50px;
}
.card2-container{
    display: flex;
    gap: 100px;
    margin-left: 50px;
    margin-top: 40px;
}
.products{
    width: 100%;
    height: 60vh;
    margin-left: 10px;
    display: flex;
  
    gap: 100px;
    margin-top: 20px;
}
.products-details{
    background-color: rgb(3, 3, 3);
    color: white;
    width: 260px;
    height: 400px;
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 23px;
    box-shadow: 0px 0px 10px rgba(03, 03, 0, 0.3);


}
.products-details button a{
    color: black;
    text-decoration: none;
}

.products-details img:hover {
   animation-name: shake;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
  }
  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    5% {
      transform: translateX(10px);
    }
    20% {
      transform: translateX(-10px);
    }
    75% {
      transform: translateX(10px);
    }
    10% {
      transform: translateX(0);
    }
  }
 
  
  
  

.view button{
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(194, 41, 41);
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
    border: 1px;
   font-weight: 700;
}
.view button a{
    color: black;
    text-decoration: none;
}
